// Variables for the project

// Text colors
$colorTextHeading: #000;
$colorText: #fff;

// Bottom colors
$buttomColor: #4f2ac3;
$buttomColorHover: #623bd6;

// Event section colors
$color1: #3c096c;
$color2: #5a189a;
$color3: #7b2cbf;